.lists {
  padding: 10px 20px;

  .list {
    box-shadow: 1px 1px 6px 0px blue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .content {
      width: 500px;
    }

    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .delete {
        margin: 0 5px;
        width: 35px;
      }
    }
  }
  .loadingContainer {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
